<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container my-5">
    <div class="row">
        <h1 class="text-center">About AnimalPedia</h1>
        <p class="text-center">Welcome to our animal encyclopedia! Our mission is to provide you with accurate,
            up-to-date information on a wide variety of animal species from around the world.</p>
        <p class="text-center">We strive to make our content accessible to all, whether you're a student, teacher,
            animal enthusiast, or just curious about the natural world.</p>
        <p class="text-center">Our website offers in-depth articles on everything from the largest mammals to the
            tiniest insects, covering topics such as behavior, habitat, diet, and conservation. The community also
            provides stunning photographs to help bring these animals to life.</p>
        <p class="text-center">Whether you're interested in learning about familiar animals like dogs and cats, or want
            to explore the exotic creatures of the rainforest or the depths of the ocean, you'll find something to pique
            your interest on our website. We are constantly updating and expanding our content to ensure that you have
            access to the latest information on the world's most fascinating animals.</p>
        <p class="text-center">We hope that our animal encyclopedia will inspire you to appreciate and protect the
            incredible diversity of life on our planet. Thank you for visiting our website!</p>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>