<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container">
    <h1 class="text-center p-3 mb-3">Add Animal</h1>
    <form id="animal-form">
        <div class="row">
            <div class="col-md-6">
                <h3>Scientific Classification</h3>

                <!-- Phylum -->
                <div class="form-group">
                    <label for="phylumType">Phylum</label>
                    <select class="form-control" id="phylumType" name="phylumType">
                        <!-- Options here -->
                        <th:block th:insert="~{fragments/options :: animalPhylumOptions}"></th:block>
                    </select>
                    <p id="phylumType-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Class -->
                <div class="form-group">
                    <label for="animalClass">Class</label>
                    <select class="form-control" id="animalClass" name="animalClass">
                        <!-- Options here -->
                        <th:block th:insert="~{fragments/options :: animalClassOptions}"></th:block>
                    </select>
                    <p id="animalClass-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Order -->
                <div class="form-group">
                    <label for="animalOrder">Order</label>
                    <input type="text" class="form-control" id="animalOrder" name="animalOrder"/>
                    <p id="animalOrder-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Family -->
                <div class="form-group">
                    <label for="animalFamily">Family</label>
                    <input type="text" class="form-control" id="animalFamily" name="animalFamily"/>
                    <p id="animalFamily-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Genus -->
                <div class="form-group">
                    <label for="genus">Genus</label>
                    <input type="text" class="form-control" id="genus" name="genus"/>
                    <p id="genus-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Specie Name -->
                <div class="form-group">
                    <label for="specieName">Specie Name</label>
                    <input type="text" class="form-control" id="specieName" name="specieName"/>
                    <p id="specieName-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Scientific Name -->
                <div class="form-group">
                    <label for="scientificName">Scientific Name</label>
                    <input type="text" class="form-control" id="scientificName" name="scientificName"/>
                    <p id="scientificName-error" class="errors alert alert-danger" style="display: none"></p>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Facts and Characteristics</h3>

                <!-- Conservation Status -->
                <div class="form-group">
                    <label for="conservationStatus">Conservation Status</label>
                    <select class="form-control" id="conservationStatus" name="conservationStatus">
                        <!-- Options here -->
                        <th:block th:insert="~{fragments/options :: animalStatusOptions}"></th:block>
                    </select>
                    <p id="conservationStatus-error" class="errors alert alert-danger" style="display: none"></p>
                </div>
                <!-- Habitat -->
                <div class="form-group">
                    <label for="habitat">Habitat</label>
                    <input type="text" class="form-control" id="habitat" name="habitat"/>
                    <p id="habitat-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Diet Type -->
                <div class="form-group">
                    <label for="dietType">Diet Type</label>
                    <select class="form-control" id="dietType" name="dietType">
                        <!-- Options here -->
                        <th:block th:insert="~{fragments/options :: animalDietOptions}"></th:block>
                    </select>
                    <p id="dietType-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Skin Type -->
                <div class="form-group">
                    <label for="skinType">Skin Type</label>
                    <select class="form-control" id="skinType" name="skinType">
                        <!-- Options here -->
                        <th:block th:insert="~{fragments/options :: animalSkinTypeOptions}"></th:block>
                    </select>
                    <p id="skinType-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Lifespan -->
                <div class="form-group">
                    <label for="lifespan">Lifespan</label>
                    <input type="number" class="form-control" id="lifespan" name="lifespan"/>
                    <p id="lifespan-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" style="height: 102px;"></textarea>
                    <p id="description-error" class="errors alert alert-danger" style="display: none"></p>
                </div>

                <!-- Locations -->
                <div class="form-group mb-3">
                    <label>Location</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="ASIA" id="asia">
                        <label class="form-check-label" for="asia">
                            Asia
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="AFRICA" id="africa">
                        <label class="form-check-label" for="africa">
                            Africa
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="NORTH_AMERICA"
                               id="north-america">
                        <label class="form-check-label" for="north-america">
                            North America
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="SOUTH_AMERICA"
                               id="south-america">
                        <label class="form-check-label" for="south-america">
                            South America
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="ANTARCTICA"
                               id="antarctica">
                        <label class="form-check-label" for="antarctica">
                            Antarctica
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="EUROPE" id="europe">
                        <label class="form-check-label" for="europe">
                            Europe
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="AUSTRALIA"
                               id="australia">
                        <label class="form-check-label" for="australia">
                            Australia
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="continent[]" value="OCEAN"
                               id="ocean">
                        <label class="form-check-label" for="ocean">
                            Ocean
                        </label>
                    </div>
                    <p id="locations-error" class="errors alert alert-danger" style="display: none"></p>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
</div>
<script src="/js/addAnimal.js"></script>
<script src="/js/getAnimalData.js"></script>
<script src="/js/manageResponse.js"></script>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>