<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container my-5">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1 class="text-center" th:text="${animal.specieName}"></h1>

            <div class="d-flex">
                <h5 th:text="'Last modified: ' + (${animal.modified == null} ? 'Not modified' : ${#temporals.format(animal.modified, 'dd-MM-yyyy HH:mm:ss')})"></h5>
                <th:block th:if="${@userService.userAuthorizationCheck(#authentication, animal.specieName)}">
                    <button class="btn btn-primary btn-sm ms-2" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Modify
                    </button>
                </th:block>

            </div>

            <div class="d-flex mb-2">
                <h5 th:text="'Verified: '"></h5>
                <th:block th:if="${animal.verified}">
                    <img class="ms-2" src="/images/checkmark.jpg" width="40" height="30" alt="Checkmark">
                </th:block>
                <th:block th:unless="${animal.verified}">
                    <img class="ms-2" src="/images/x.jpg" width="30" height="30" alt="X mark">
                </th:block>
                <th:block sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                    <th:block th:unless="${animal.verified}">
                        <button id="verify" th:value="${animal.specieName}" class="btn btn-primary btn-sm ms-2"
                                type="button">Verify
                        </button>
                    </th:block>
                    <th:block th:if="${animal.verified}">
                        <button id="undo" th:value="${animal.specieName}" class="btn btn-danger btn-sm ms-2"
                                type="button">Undo Verify
                        </button>
                    </th:block>
                </th:block>
            </div>

            <img th:if="${animal.url == null}" src="/images/placeholder.png" alt="Picture"
                 class="card-img rounded w-100 h-25 mb-3">
            <img th:unless="${animal.url == null}" th:src="${animal.url}" alt="Picture"
                 class="card-img rounded w-100 h-25 mb-3">
            <div class="card animal-card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Scientific Classification</h2>
                            <dl class="row">
                                <dt class="col-sm-3 text-md-start text-black">Phylum</dt>
                                <dd class="col-sm-9" th:if="${#strings.contains(animal.phylumType, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.phylumType, '_', ' ')))}"></dd>
                                <dd class="col-sm-9" th:unless="${#strings.contains(animal.phylumType, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.phylumType))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Class</dt>
                                <dd class="col-sm-9" th:if="${#strings.contains(animal.animalClass, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.animalClass, '_', ' ')))}"></dd>
                                <dd class="col-sm-9" th:unless="${#strings.contains(animal.animalClass, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.animalClass))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Order</dt>
                                <dd class="col-sm-9" th:text="${animal.animalOrder}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Family</dt>
                                <dd class="col-sm-9" th:text="${animal.animalFamily}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Genus</dt>
                                <dd class="col-sm-9" th:text="${animal.genus}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Scientific name</dt>
                                <dd class="col-sm-9" th:text="${animal.scientificName}"></dd>
                            </dl>
                            <p></p>
                            <h2 class="card-title text-start text-black mb-3">Conservation Status</h2>
                            <ul class="list-unstyled">
                                <li th:if="${#strings.contains(animal.conservationStatus, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.conservationStatus, '_', ' ')))}"></li>
                                <li th:unless="${#strings.contains(animal.conservationStatus, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.conservationStatus))}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2>Locations</h2>
                            <ul th:each="l : ${animal.continents}" class="list-unstyled">
                                <li th:if="${#strings.contains(l, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(l, '_', ' ')))}"></li>
                                <li th:unless="${#strings.contains(l, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(l))}"></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h2 class="text-start mb-4">Add Picture</h2>
                            <p sec:authorize="!isAuthenticated()">You need to <a href="/auth/login">login</a> to add a
                                picture</p>

                            <th:block sec:authorize="isAuthenticated()">
                                <form onsubmit="return isPicture()"
                                      th:action="@{/pictures/upload/{specie-name}(specie-name=${animal.specieName})}"
                                      th:method="POST"
                                      th:object="${pictureModel}"
                                      enctype="multipart/form-data"
                                      class="w-100">

                                    <div class="form-group w-100">
                                        <label>
                                            <input th:field="*{title}" type="text" name="title" class="form-control"
                                                   placeholder="Enter picture title">
                                        </label>
                                    </div>
                                    <div class="image-upload d-flex">
                                        <label for="picture" class="w-100 text-center">
                                            <img id="previewImage" src="/images/add-img.png" alt=""
                                                 class="d-flex justify-content-start w-50 mb-2 mt-2"/>
                                        </label>
                                        <input onchange="picToString()" style="display: none" id="picture" type="file"
                                               name="picture"/>
                                        <input th:field="*{url}" type="hidden" id="picString">
                                    </div>
                                    <div class="form-group w-100 mx-5">
                                        <button class="btn btn-primary rounded mb-2 mt-2">Upload Picture</button>
                                    </div>
                                    <strong id="pictureRequiredError"
                                            class="form-text bg-danger rounded" style="display: none">A picture must be
                                        selected.</strong>
                                    <strong id="pictureFormatError"
                                            class="form-text bg-danger rounded" style="display: none">Must be valid
                                        picture
                                        format.</strong>
                                    <strong th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                            class="form-text bg-danger rounded"></strong>
                                </form>
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card animal-card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Facts</h2>
                            <dl class="row">
                                <dt class="col-sm-3 text-md-start text-black">Habitat</dt>
                                <dd class="col-sm-9" th:text="${animal.habitat}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Skin Type</dt>
                                <dd class="col-sm-9"
                                    th:text="${animal.skinType == null} ? 'Not Specified' : ${#strings.capitalizeWords(#strings.toLowerCase(animal.skinType))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Lifespan</dt>
                                <dd class="col-sm-9" th:text="${animal.lifespan}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Diet</dt>
                                <dd class="col-sm-9"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.dietType))}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Fun Fact</h2>
                            <span id="randomFact">Wanna see a random fact for this animal?</span>
                            <button id="randomFactButton" th:value="${animal.specieName}" type="button"
                                    class="btn btn-primary btn-sm">See!
                            </button>
                            <p sec:authorize="isAuthenticated()">Wanna add facts?
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Add
                                </button>
                            </p>
                            <p sec:authorize="!isAuthenticated()" class="mt-3">If you want to add a fun fact you need to
                                <a href="/auth/login">login!</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="mb-3" th:text="${animal.description}"></h5>
            <h1 class="text-center text-black">Gallery</h1>

            <div class="row">
                <div id="carouselExampleCaptions" class="carousel slide" style="height: 500px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/animals.jpg" class="d-block w-100" alt="Slide 1" style="height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Welcome to the Gallery!</h5>
                                <p th:text="'Slide around to see pictures of ' + ${animal.specieName} + ' if there are any.'"></p>
                            </div>
                        </div>
                        <div th:each="p : ${animalPictures}" class="carousel-item">
                            <img th:src="${p.url}" class="d-block w-100" alt="Slide 2" style="height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 th:text="${p.title}"></h5>
                                <p th:if="${#authentication.isAuthenticated() and #strings.equals(#authentication.name, p.authorUsername)}">
                                    <a class="link-dark" th:href="@{/users/profile}" th:text="${p.authorUsername}"></a>
                                </p>
                                <p th:unless="${#authentication.isAuthenticated() and #strings.equals(#authentication.name, p.authorUsername)}">
                                    <a class="link-dark" th:href="@{/users/profile/{username}(username=${p.authorUsername})}"
                                       th:text="${p.authorUsername}"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </main>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Fun Fact</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="fact" class="col-form-label">Type here:</label>
                                <textarea class="form-control" id="fact"></textarea>
                                <p id="fact-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="addFact" th:value="${animal.specieName}" type="button" class="btn btn-primary">Ok
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:if="${@userService.userAuthorizationCheck(#authentication, animal.specieName)}">
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 33%">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edit Animal</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <form id="animal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Scientific Classification</h3>

                            <!-- Phylum -->
                            <div class="form-group">
                                <label for="phylumType">Phylum</label>
                                <select th:field="${animal.phylumType}" class="form-control" id="phylumType">
                                    <!-- Options here -->
                                    <th:block th:insert="~{fragments/options :: animalPhylumOptions}"></th:block>
                                </select>
                                <p id="phylumType-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Class -->
                            <div class="form-group">
                                <label for="animalClass">Class</label>
                                <select th:field="${animal.animalClass}" class="form-control" id="animalClass"
                                        name="animalClass">
                                    <!-- Options here -->
                                    <th:block th:insert="~{fragments/options :: animalClassOptions}"></th:block>
                                </select>
                                <p id="animalClass-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Order -->
                            <div class="form-group">
                                <label for="animalOrder">Order</label>
                                <input th:value="${animal.animalOrder}" type="text" class="form-control"
                                       id="animalOrder" name="animalOrder"/>
                                <p id="animalOrder-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Family -->
                            <div class="form-group">
                                <label for="animalFamily">Family</label>
                                <input th:value="${animal.animalFamily}" type="text" class="form-control"
                                       id="animalFamily" name="animalFamily"/>
                                <p id="animalFamily-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Genus -->
                            <div class="form-group">
                                <label for="genus">Genus</label>
                                <input th:value="${animal.genus}" type="text" class="form-control" id="genus"
                                       name="genus"/>
                                <p id="genus-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Specie Name -->
                            <div class="form-group">
                                <label for="specieName">Specie Name</label>
                                <input th:value="${animal.specieName}" type="text" class="form-control" id="specieName"
                                       name="specieName" disabled readonly/>
                            </div>

                            <!-- Scientific Name -->
                            <div class="form-group">
                                <label for="scientificName">Scientific Name</label>
                                <input th:value="${animal.scientificName}" type="text" class="form-control"
                                       id="scientificName" name="scientificName"/>
                                <p id="scientificName-error" class="errors alert alert-danger"
                                   style="display: none"></p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>Facts and Characteristics</h3>

                            <!-- Conservation Status -->
                            <div class="form-group">
                                <label for="conservationStatus">Conservation Status</label>
                                <select th:field="${animal.conservationStatus}" class="form-control"
                                        id="conservationStatus">
                                    <!-- Options here -->
                                    <th:block th:insert="~{fragments/options :: animalStatusOptions}"></th:block>
                                </select>
                                <p id="conservationStatus-error" class="errors alert alert-danger"
                                   style="display: none"></p>
                            </div>
                            <!-- Habitat -->
                            <div class="form-group">
                                <label for="habitat">Habitat</label>
                                <input th:value="${animal.habitat}" type="text" class="form-control" id="habitat"
                                       name="habitat"/>
                                <p id="habitat-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Diet Type -->
                            <div class="form-group">
                                <label for="dietType">Diet Type</label>
                                <select th:field="${animal.dietType}" class="form-control" id="dietType">
                                    <!-- Options here -->
                                    <th:block th:insert="~{fragments/options :: animalDietOptions}"></th:block>
                                </select>
                                <p id="dietType-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Skin Type -->
                            <div class="form-group">
                                <label for="skinType">Skin Type</label>
                                <select th:field="${animal.skinType}" class="form-control" id="skinType"
                                        name="skinType">
                                    <!-- Options here -->
                                    <th:block th:insert="~{fragments/options :: animalSkinTypeOptions}"></th:block>
                                </select>
                                <p id="skinType-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Lifespan -->
                            <div class="form-group">
                                <label for="lifespan">Lifespan</label>
                                <input th:value="${animal.lifespan}" type="number" class="form-control" id="lifespan"
                                       name="lifespan"/>
                                <p id="lifespan-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea th:text="${animal.description}" class="form-control" id="description"
                                          name="description" style="height:103px;"></textarea>
                                <p id="description-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>

                            <!-- Locations -->
                            <div class="form-group mb-3">
                                <label>Location</label>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).ASIA)}"
                                           class="form-check-input" type="checkbox" name="continent[]" value="ASIA"
                                           id="asia">
                                    <label class="form-check-label" for="asia">
                                        Asia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).AFRICA)}"
                                           class="form-check-input" type="checkbox" name="continent[]" value="AFRICA"
                                           id="africa">
                                    <label class="form-check-label" for="africa">
                                        Africa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).NORTH_AMERICA)}"
                                           class="form-check-input" type="checkbox" name="continent[]"
                                           value="NORTH_AMERICA"
                                           id="north-america">
                                    <label class="form-check-label" for="north-america">
                                        North America
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).SOUTH_AMERICA)}"
                                           class="form-check-input" type="checkbox" name="continent[]"
                                           value="SOUTH_AMERICA"
                                           id="south-america">
                                    <label class="form-check-label" for="south-america">
                                        South America
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).ANTARCTICA)}"
                                           class="form-check-input" type="checkbox" name="continent[]"
                                           value="ANTARCTICA"
                                           id="antarctica">
                                    <label class="form-check-label" for="antarctica">
                                        Antarctica
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).EUROPE)}"
                                           class="form-check-input" type="checkbox" name="continent[]" value="EUROPE"
                                           id="europe">
                                    <label class="form-check-label" for="europe">
                                        Europe
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input th:checked="${#sets.contains(animal.continents, T(bg.softuni.animalpedia.models.enums.Continent).AUSTRALIA)}"
                                           class="form-check-input" type="checkbox" name="continent[]" value="AUSTRALIA"
                                           id="australia">
                                    <label class="form-check-label" for="australia">
                                        Australia
                                    </label>
                                </div>
                                <p id="locations-error" class="errors alert alert-danger" style="display: none"></p>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </th:block>

</div>
<script src="/js/addFact.js"></script>
<script src="/js/getRandomFunFact.js"></script>
<script src="/js/editAnimal.js"></script>
<script src="/js/getAnimalData.js"></script>
<script src="/js/manageResponse.js"></script>
<script src="/js/verifyAnimal.js"></script>
<script src="/js/unverifyAnimal.js"></script>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>