<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container my-5">
    <div class="row">
        <main class="col-lg-9 col-md-12">
            <h1 class="text-center text-black" th:text="${animal.specieName}"></h1>
            <img th:if="${animal.url == null}" src="/images/placeholder.png" alt="Picture"
                 class="card-img rounded w-100 h-25 mb-3">
            <img th:unless="${animal.url == null}" th:src="${animal.url}" alt="Picture"
                 class="card-img rounded w-100 h-25 mb-3">
            <div class="card animal-card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Scientific Classification</h2>
                            <dl class="row">
                                <dt class="col-sm-3 text-md-start text-black">Phylum</dt>
                                <dd class="col-sm-9" th:if="${#strings.contains(animal.phylumType, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.phylumType, '_', ' ')))}"></dd>
                                <dd class="col-sm-9" th:unless="${#strings.contains(animal.phylumType, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.phylumType))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Class</dt>
                                <dd class="col-sm-9" th:if="${#strings.contains(animal.animalClass, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.animalClass, '_', ' ')))}"></dd>
                                <dd class="col-sm-9" th:unless="${#strings.contains(animal.animalClass, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.animalClass))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Order</dt>
                                <dd class="col-sm-9" th:text="${animal.animalOrder}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Family</dt>
                                <dd class="col-sm-9" th:text="${animal.animalFamily}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Genus</dt>
                                <dd class="col-sm-9" th:text="${animal.genus}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Scientific name</dt>
                                <dd class="col-sm-9" th:text="${animal.scientificName}"></dd>
                            </dl>
                            <p></p>
                            <h2 class="card-title text-start text-black mb-3">Conservation Status</h2>
                            <ul class="list-unstyled">
                                <li th:if="${#strings.contains(animal.conservationStatus, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(animal.conservationStatus, '_', ' ')))}"></li>
                                <li th:unless="${#strings.contains(animal.conservationStatus, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.conservationStatus))}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2>Locations</h2>
                            <ul th:each="l : ${animal.continents}" class="list-unstyled">
                                <li th:if="${#strings.contains(l, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(l, '_', ' ')))}"></li>
                                <li th:unless="${#strings.contains(l, '_')}"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(l))}"></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h2 class="text-start mb-4">Add Picture</h2>
                            <p sec:authorize="!isAuthenticated()">You need to <a href="/auth/login">login</a> to add a
                                picture</p>

                            <th:block sec:authorize="isAuthenticated()">
                                <form onsubmit="return isPicture()"
                                      th:action="@{/pictures/upload/{specie-name}(specie-name=${animal.specieName})}"
                                      th:method="POST"
                                      th:object="${pictureModel}"
                                      enctype="multipart/form-data"
                                      class="w-100">

                                    <div class="form-group w-100">
                                        <label>
                                            <input th:field="*{title}" type="text" name="title" class="form-control"
                                                   placeholder="Enter picture title">
                                        </label>
                                    </div>
                                    <div class="image-upload d-flex">
                                        <label for="picture" class="w-100 text-center">
                                            <img id="previewImage" src="/images/add-img.png" alt=""
                                                 class="d-flex justify-content-start w-50 mb-2 mt-2"/>
                                        </label>
                                        <input onchange="picToString()" style="display: none" id="picture" type="file"
                                               name="picture"/>
                                        <input th:field="*{url}" type="hidden" id="picString">
                                    </div>
                                    <div class="form-group w-100 mx-5">
                                        <button class="btn btn-primary rounded mb-2 mt-2">Upload Picture</button>
                                    </div>
                                    <strong id="pictureRequiredError"
                                            class="form-text bg-danger rounded" style="display: none">A picture must be
                                        selected.</strong>
                                    <strong id="pictureFormatError"
                                            class="form-text bg-danger rounded" style="display: none">Must be valid
                                        picture
                                        format.</strong>
                                    <strong th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                            class="form-text bg-danger rounded"></strong>
                                </form>
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card animal-card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Facts</h2>
                            <dl class="row">
                                <dt class="col-sm-3 text-md-start text-black">Habitat</dt>
                                <dd class="col-sm-9" th:text="${animal.habitat}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Skin Type</dt>
                                <dd class="col-sm-9"
                                    th:text="${animal.skinType == null} ? 'Not Specified' : ${#strings.capitalizeWords(#strings.toLowerCase(animal.skinType))}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Lifespan</dt>
                                <dd class="col-sm-9" th:text="${animal.lifespan}"></dd>
                                <dt class="col-sm-3 text-md-start text-black">Diet</dt>
                                <dd class="col-sm-9"
                                    th:text="${#strings.capitalizeWords(#strings.toLowerCase(animal.dietType))}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h2 class="card-title text-start text-black mb-3">Fun Fact</h2>
                            <span id="randomFact">Wanna see a random fact for this animal?</span>
                            <button id="randomFactButton" th:value="${animal.specieName}" type="button"
                                    class="btn btn-primary btn-sm">See!
                            </button>
                            <p sec:authorize="isAuthenticated()">Wanna add facts?
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Add
                                </button>
                            </p>
                            <p sec:authorize="!isAuthenticated()" class="mt-3">If you want to add a fun fact you need to
                                <a href="/auth/login">login!</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="mb-3" th:text="${animal.description}"></h5>
            <h1 class="text-center text-black">Gallery</h1>

            <div class="row">
                <div id="carouselExampleCaptions" class="carousel slide" style="height: 500px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/animals.jpg" class="d-block w-100" alt="Slide 1" style="height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Welcome to the Gallery!</h5>
                                <p th:text="'Slide around to see pictures of ' + ${animal.specieName} + ' if there are any.'"></p>
                            </div>
                        </div>
                        <div th:each="p : ${animalPictures}" class="carousel-item">
                            <img th:src="${p.url}" class="d-block w-100" alt="Slide 2" style="height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 th:text="${p.title}"></h5>
                                <p th:text="${p.authorUsername}"></p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Fun Fact</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="fact" class="col-form-label">Type here:</label>
                            <textarea class="form-control" id="fact"></textarea>
                            <p id="fact-error" class="errors alert alert-danger" style="display: none"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="addFact" th:value="${animal.specieName}" type="button" class="btn btn-primary">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/addFact.js"></script>
<script src="/js/getRandomFunFact.js"></script>
<script src="/js/manageResponse.js"></script>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>