<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container my-5">
    <h1 class="text-center">Check your email</h1>
    <h2 class="text-center mb-4">A verification code should be there.</h2>
    <form th:action="@{/auth/forgot-password/code}" th:method="POST">
        <p th:if="${invalidCode}" th:text="${invalidCode}" class="errors alert alert-danger"></p>
        <div class="mb-3">
            <label for="code" class="form-label">Verification Code</label>
            <input type="text" class="form-control" id="code" name="code">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div th:replace="~{fragments/footer}">Footer</div>
</body>
</html>