<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="wrapper m-5">
    <section class="top-container">
        <div class="showcase">
            <h5 class="text-center text-white mt-5">Welcome to AnimalPedia!</h5>
            <h5 class="text-start text-white">Are you ready to explore the amazing world of animals? Here you will find
                fascinating facts, stunning photos
                about all kinds of creatures.</h5>
            <div class="row justify-content-center w-100 mt-3">
                <div class="col-md-4 text-center">
                    <a href="/animals/all">
                        <button type="button" class="btn btn-light btn-lg text-black">See All Animals</button>
                    </a>
                </div>
            </div>
        </div>

        <th:block th:unless="${noAnimalOfTheDay}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Animal Of The Day</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${animalOfTheDay.specieName}"></h6>
                    <img th:src="${animalOfTheDay.url == null} ? '/images/placeholder.png' : ${animalOfTheDay.url}">
                    <p class="card-text"
                       th:text="${#strings.length(animalOfTheDay.description) > 45} ? ${#strings.substring(animalOfTheDay.description, 0, 45) + '...'} :
                   ${animalOfTheDay.description}"></p>
                    <a th:href="@{/animals/{specie-name}(specie-name=${animalOfTheDay.specieName})}" class="card-link">Read
                        More</a>
                </div>
            </div>
        </th:block>

    </section>

    <h2 class="mt-2">The 6 Main Types of Animals</h2>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/mammals.jpg" alt="Mammals">
        </div>
        <div class="col-md-4">
            <h3>Mammals</h3>
            <p>The official mammal class is Mammalia. Animals that are considered mammals include warm-blooded
                vertebrates that have hair or fur and whose babies drink milk. Unlike other animal types like birds
                and insects, all mammal babies drink milk that comes from their mother’s bodies. This is one of the
                key ways to know if an animal is a mammal.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/reptiles.jpg" alt="Reptile">
        </div>
        <div class="col-md-4">
            <h3>Reptiles</h3>
            <p>Lizards, dinosaurs, crocodiles, turtles, and snakes – all belong to that ancient and stout class of
                animals known as the reptiles. This is a diverse group with more than 10,000 different species and a
                huge representation in the fossil record. Once the dominant land vertebrates on the planet, reptiles
                still occupy just about every single ecosystem outside of the extreme north and south.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/fish-2.jpg" alt="Fish">
        </div>
        <div class="col-md-4">
            <h3>Fish</h3>
            <p>Fish are aquatic vertebrates. They usually have gills, paired fins, a long body covered with scales, and
                tend to be cold-blooded. “Fish” is a term used to refer to lampreys, sharks, coelacanths and ray-finned
                fishes, but is not a taxonomic group, which is a clade or group containing a common ancestor and all its
                descendants.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/bird.jpg" alt="Bird">
        </div>
        <div class="col-md-4">
            <h3>Birds</h3>
            <p>Birds, members of the class Aves, include more than 10,400 living species. Their feathers distinguish
                them from all other classes of animal; no other animals on earth have them. If you see an animal with
                feathers, it’s undoubtedly a bird. Like mammals, birds are warm-blooded vertebrates with four-chambered
                hearts. However, they are more closely related to reptiles and are believed to have evolved from
                dinosaurs.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/sgreenfrog.jpg" alt="Amphibian">
        </div>
        <div class="col-md-4">
            <h3>Amphibians</h3>
            <p>The official class of amphibians is Amphibia. To have the classification of an amphibian, an animal must
                be a vertebrate, require water to survive, be cold-blooded, and spend time both on land and in water.
                Though other animals only live on land or in the water, amphibians have the unique ability to thrive
                equally in both. Amphibians cover over 6,000 different species across the globe, but about 90% are
                frogs.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-wrap align-items-center">
            <img class="w-100 h-100" src="/images/invertebrate_bombardier-beetle_600x300.jpg" alt="Invertebrate">
        </div>
        <div class="col-md-4">
            <h3>Invertebrates</h3>
            <p>The definition of an invertebrate is any animal that does not have a backbone or vertebral column. The
                most prolific and easily recognizable members of the invertebrate family are insects. It’s estimated
                that upwards of 30 million individual species of invertebrates may exist accounting for between 90-95
                percent of all organisms on the planet.</p>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>
