<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container my-5">
    <h1 class="text-center">Reset your password</h1>
    <form th:action="@{/auth/forgot-password/reset-password}" th:method="POST" th:object="${resetPasswordModel}">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" name="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input th:field="*{confirmPassword}" type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword">
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
               class="alert alert-danger"></p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>