<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<main class="container my-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="profile-card p-3 py-4">

                <div class="text-center position-relative">
                    <img th:if="${user.imageUrl == null}" src="/images/no-user-image-icon-23.jpg"
                         width="100"
                         class="rounded-circle" alt="Profile Pic">
                    <img th:unless="${user.imageUrl == null}"
                         th:src="${user.imageUrl}" width="100"
                         class="rounded-circle" alt="Profile Pic">
                </div>

                <div class="text-center mt-3">
                    <h5 class="mt-4 mb-0">Role</h5>
                    <span th:text="${#strings.capitalizeWords(#strings.toLowerCase(user.role))}"></span>
                    <h5 class="mt-2 mb-0">Full name</h5>
                    <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                    <h5 class="mt-2 mb-0">Username</h5>
                    <span th:text="${user.username}"></span>
                    <h5 class="mt-2 mb-0">Email</h5>
                    <span th:text="${user.email}"></span>
                    <div class="px-4 mt-5"></div>

                    <th:block th:if="${@userService.compareUserRoles(user.username)}">
                        <th:block th:unless="${user.banned}">
                            <button id="ban-link" th:value="${user.username}" type="button" class="btn btn-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    th:data-bs-whatever="${user.username}">
                                Ban
                            </button>
                        </th:block>
                        <th:block th:if="${user.banned}">
                            <button id="unban-link" class="btn btn-primary" th:value="${user.userLinks.unbanLink}">Unban
                            </button>
                        </th:block>
                    </th:block>

                    <button onclick="window.location='javascript:history.back()'" class="btn btn-primary px-4">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/ban-modal}"></div>

</main>
<script src="/js/deleteProfile.js"></script>
<script src="/js/ban.js"></script>
<script src="/js/unban.js"></script>

<div th:replace="~{fragments/footer}">Footer</div>

</body>
</html>