<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Dear,
<th:block th:text="${username}"></th:block>,

<p>We are thrilled to welcome you to AnimalPedia, the ultimate online resource for animal lovers and enthusiasts like
    you!</p>

<p>With AnimalPedia, you now have access to a vast collection of articles, images and interactive content on a variety
    of fascinating animal species,
    from the smallest insects to the largest mammals.</p>

<p>We hope you enjoy exploring our website and discovering new information about your favorite animals.</p>

<p>As a registered user, you will also have access to exclusive features such as adding new animals to the collection
    and showing your knowledge and experiences.</p>

<p>Thank you for joining our community, and we look forward to sharing our passion for animals with you!</p>

<p>Best regards,
    AnimalPedia</p>
</body>
</html>